{% extends 'base.html.twig' %}

{% block title %}Hospedagem index{% endblock %}

{% block body %}
    <h1>Hospedagem index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Destino</th>
                <th>Tipo</th>
                <th>Custo_por_noite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hospedagem in hospedagems %}
            <tr>
                <td>{{ hospedagem.id }}</td>
                <td>{{ hospedagem.nome }}</td>
                <td>{{ hospedagem.destino }}</td>
                <td>{{ hospedagem.tipo }}</td>
                <td>{{ hospedagem.custoPorNoite }}</td>
                <td>
                    <a href="{{ path('app_hospedagem_show', {'id': hospedagem.id}) }}">show</a>
                    <a href="{{ path('app_hospedagem_edit', {'id': hospedagem.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hospedagem_new') }}">Create new</a>
{% endblock %}
