{% extends 'base.html.twig' %}

{% block title %}Atividade index{% endblock %}

{% block body %}
    <h1>Atividade index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descricao</th>
                <th>Destino</th>
                <th>Categoria</th>
                <th>Custo_estimado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for atividade in atividades %}
            <tr>
                <td>{{ atividade.id }}</td>
                <td>{{ atividade.nome }}</td>
                <td>{{ atividade.descricao }}</td>
                <td>{{ atividade.destino }}</td>
                <td>{{ atividade.categoria }}</td>
                <td>{{ atividade.custoEstimado }}</td>
                <td>
                    <a href="{{ path('app_atividade_show', {'id': atividade.id}) }}">show</a>
                    <a href="{{ path('app_atividade_edit', {'id': atividade.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_atividade_new') }}">Create new</a>
{% endblock %}
