{% extends 'base.html.twig' %}

{% block title %}Detalhes da Atividade{% endblock %}

{% block body %}
    <h1>Detalhes da Atividade</h1>

    <table>
        <tr>
            <th>ID</th>
            <td>{{ atividade.id }}</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>{{ atividade.nome }}</td>
        </tr>
        <tr>
            <th>Descrição</th>
            <td>{{ atividade.descricao }}</td>
        </tr>
        <tr>
            <th>Destino</th>
            <td>{{ atividade.destino }}</td>
        </tr>
        <tr>
            <th>Categoria</th>
            <td>{{ atividade.categoria }}</td>
        </tr>
        <tr>
            <th>Custo Estimado</th>
            <td>{{ atividade.custoEstimado }}</td>
        </tr>
    </table>

    <a href="{{ path('atividade_edit', {'id': atividade.id}) }}">Editar</a>
    <a href="{{ path('atividade_index') }}">Voltar à lista</a>
{% endblock %}
